<div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="space-around stretch">
  <div *ngIf="!isLoading; else loading">
    <div #headerContainer fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="0">
      <h2>{{count}} Specialists Loaded</h2>
      <div class="refresh-button">
        <button mat-button (click)="refresh.emit()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div #loadingContainer fxLayout="column" fxLayoutAlign="center center" fxFill>
    <h2>Loading Specialists...</h2>
    <mat-progress-bar mode="indeterminate">Loading</mat-progress-bar>
  </div>
</ng-template>
